<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tinira ni Benny</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <main>
        <div class="topbar">
            <a href="home.html"> <img src="Assets/Logo.png"></a>
            <a href="edituser.html"> <img src="Assets/accounticon.png"></a>
        </div>
        <div class="cont">
           
            <div class="flex_col1">
                <div class="flex_col2">
                    <div class="flex_col3">
                        <form action="/submit_search" method="post">
                        <h1 class="search_q">Don’t know what to eat? ask us!</h1>
                        <input type="text" class="search_box" placeholder="What ingredients do you have?">
                    </div>
                    <h2 class="diets_allergies_title">Diets or allergies?</h2>
                </div>
                <div class="filters">
                    <input type="checkbox" id="vegan" name="vegan" value="vegan">
                    <label for="vegan">Vegan</label><br>
                    <input type="checkbox" id="vegetarian" name="vegetarian" value="vegetarian">
                    <label for="vegetarian">Vegetarian</label><br>
                    <input type="checkbox" id="Pork" name="Pork" value="Pork">
                    <label for="Pork">Pork</label><br>
                    <input type="checkbox" id="Beef" name="Beef" value="Beef">
                    <label for="Beef">Beef</label><br>
                    <input type="checkbox" id="Chicken" name="Chicken" value="Chicken">
                    <label for="Chicken">Chicken</label><br>
                    <input type="checkbox" id="Shellfish" name="Shellfish" value="Shellfish">
                    <label for="Shellfish">Shellfish</label><br>
                    <input type="checkbox" id="Nuts" name="Nuts" value="Nuts">
                    <label for="Nuts">Nuts</label><br>
                    <input type="checkbox" id="gluten-free" name="gluten-free" value="gluten-free">
                    <label for="gluten-free">Gluten-free</label><br>
                    <input type="checkbox" id="Sugar-free" name="Sugar-free" value="Sugar-free">
                    <label for="Sugar-free">Sugar-free</label><br>
                    <input type="checkbox" id="Shellfish-free" name="Shellfish-free" value="Shellfish-free">
                    <label for="Shellfish-free">Shellfish-free</label><br>

                    <input type="checkbox" id="Fish" name="Fish" value="Fish">
                    <label for="Fish">Fish</label><br>
                    
                </div>
                <div class="box">
                    <button class="search_button" type="submit">Search</button>
                </div>
                </form>
                </div>
        </div>
        
        <div class="botbar">
        
        </div>
        
    </main>
    
</body>

</html>