<!DOCTYPE html>
<html>
<!--  This source code is exported from pxCode, you can get more document from https://www.pxcode.io  -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tinira ni Benny</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <main>
        <div class="topbar">
            <a href="home.html"> <img src="Assets/Logo.png"></a>
            <a href="edituser.html"> <img src="Assets/accounticon.png"></a>
        </div>

        <header class="w3-display-container w3-center" style="position: relative;">
            <img class="w3-image" src="Assets/recipe-book.jpg" alt="Me" style="width: 100%; max-height: 500px; object-fit:cover;">
            <div class="overlay" style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0, 0, 0, 0.6);"></div>
            <div class="w3-display-middle w3-border w3-wide w3-center" style="padding: 50px;">
                <img src="Assets/Logo.png" style="height: 80px;">
                <h4 style="color: gainsboro;">A Recipe Recommender to Reduce Food Waste</h4>
                <button class="w3-button w3-padding-large w3-large w3-margin-top" style="background-color:#114232; color: gainsboro;" onclick="window.location.href = 'registerLogin.html';">Get Started</button>
            </div>
        </header>
        
        
        <!-- First Grid -->
        <div class="w3-row-padding w3-padding-64 w3-container">
            <div class="w3-content">
                <div class="w3-half">
                    <h1>Reduce Waste With Every Meal</h1>
                    <h5 class="w3-padding-16">Discover recipes based on what you already have in your kitchen. Tinira ni Benny helps you reduce food waste by suggesting delicious meals from your leftover ingredients.</h5>
        
                    <p>Our smart recommender system tailors recipes to your dietary preferences and available ingredients, ensuring that nothing goes to waste. Join us in our mission to save the planet, one meal at a time.</p>
                </div>
        
                <div class="w3-half w3-center">
                    <img src="Assets/zero-waste.jpeg" alt="Zero Waste" height="300" style="max-width: 500px; object-fit:contain;">
                </div>
            </div>
        </div>
        
        <!-- Second Grid -->
        <div class="w3-row-padding w3-padding-64 w3-container" style="background-color:#F7F6BB">
            <div class="w3-content">
                <div class="w3-half w3-center">
                    <img src="Assets/personal-plan.jpg" alt="Personalized" height="300" style="max-width: 425px; object-fit:cover;">
                </div>
        
                <div class="w3-half">
                    <h1>Personalized to Your Taste</h1>
                    <h5 class="w3-padding-16">Not only does Tinira ni Benny help you reduce waste, but it also learns your taste preferences for personalized recipe recommendations.</h5>
        
                    <p>Whether you're a vegan, keto enthusiast, or someone with dietary restrictions, our app ensures that you'll only get recipes that fit your lifestyle. Start exploring now and transform your leftover ingredients into culinary delights.</p>
                </div>
            </div>
        </div>
        
        <!-- Footer -->
        <footer class="w3-container w3-center" style="background-color:#87A922;">  
            <div class="w3-xlarge w3-padding-16">
                <!-- Add your social media links with icons here -->
                <i class="fa fa-facebook-official w3-hover-opacity" style="color: #FCDC2A;"></i>
                <i class="fa fa-instagram w3-hover-opacity" style="color: #FCDC2A;"></i>
                <i class="fa fa-twitter w3-hover-opacity" style="color: #FCDC2A;"></i>
                <i class="fa fa-linkedin w3-hover-opacity" style="color: #FCDC2A;"></i>
           </div>
           <p style="margin-top: 0px; color: #FCDC2A;"><strong>Basco • Licup • Longno • Martinez • Yabut</strong></p>
        </footer>
        
    </main>
    
</body>

</html>