<!DOCTYPE html>
<html>
<!--  This source code is exported from pxCode, you can get more document from https://www.pxcode.io  -->

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />

    <link rel="stylesheet" type="text/css" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />
    <link rel="stylesheet" type="text/css" href="./css/common.css" />
    <link rel="stylesheet" type="text/css" href="./css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="./css/Mainpage.css" />
    <script type="text/javascript" src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="text/javascript" src="https://unpkg.com/sticky-js@1.3.0/dist/sticky.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/headroom.js@0.12.0/dist/headroom.min.js"></script>



</head>

<body class="flex-column">
    <div class="mainpage root">
        <div class="content_box1">
            <div class="flex_col">
                <div class="content_box">
                    <div class="rect"></div>
                    <h1 class="hero_title">tINIRA NI BENNY</h1>
                    <div class="wrapper" style="--src:url(../assets/e598a7a6d7d940f054e4f1384829d7dd.png)"></div>
                </div>
                <div class="rect1"></div>
            </div>
            <div class="flex_col1">
                <div class="flex_col2">
                    <div class="flex_col3">
                        <h1 class="big_title">Don’t know what to eat? ask us!</h1>
                        <div class="rect11"></div>
                    </div>
                    <h2 class="medium_title">Diets or allergies?</h2>
                </div>
                <div class="box">
                    <h1 class="big_title1">Search</h1>
                </div>
            </div>
            <div class="flex_col4">
                <div class="flex_row">
                    <div class="flex_row1">
                        <div class="rect3"></div>
                        <h2 class="medium_title1">Vegan</h2>
                    </div>
                    <div class="flex_row2">
                        <div class="rect3"></div>
                        <h2 class="medium_title1">non-dairy</h2>
                    </div>
                    <div class="flex_row3">
                        <div class="rect3"></div>
                        <h2 class="medium_title1">Sugar-free</h2>
                    </div>
                    <div class="flex_row4">
                        <div class="rect3"></div>
                        <h2 class="medium_title1">shellfish-free</h2>
                    </div>
                </div>
                <div class="flex_row5">
                    <div class="flex_row6">
                        <div class="rect3"></div>
                        <h2 class="medium_title1">pork</h2>
                    </div>
                    <div class="flex_row7">
                        <div class="rect3"></div>
                        <h2 class="medium_title1">Beef</h2>
                    </div>
                    <div class="flex_row8">
                        <div class="rect3"></div>
                        <h2 class="medium_title1">Fish</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        AOS.init();
        new Sticky('.sticky-effect');
    </script>
</body>

</html>