<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tinira ni Benny</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <main>
        <div class="topbar">
            <a href="home.html"> <img src="Assets/Logo.png"></a>
            <a href="edituser.html"> <img src="Assets/accounticon.png"></a>
        </div>
        <div class="cont">

            <div class="recobox">
                <h2>Based on what you gave this is what we recommend:</h2>
                <div class="recipebox">
                    <h4>Recipe1</h4>
            </div>

        </div>
        </div>

        <div class="botbar">

        </div>

    </main>

</body>

</html>