<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Recipe</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <main>
        <div class="topbar">
            <a href="home.html"> <img src="Assets/Logo.png"></a>
            <a href="edituser.html"> <img src="Assets/accounticon.png"></a>
        </div>

        <div class="cont">
            <div class="recipeblock">
                <div class="ingredientsblock">
                    {% for ingredient in row['ingredients'] %}
                    <h4>{{ ingredient }}</h4>
                    {% endfor %}
                </div>
                <div class="procedureblock">
                    <h2>Procedures:</h2>
                    {% for procedure in row['procedures'] %}
                    <h4>{{ procedure }}</h4>
                    {% endfor %}
                </div>
            </div>

        
        </div>

        <div class="botbar">

        </div>

    </main>

</body>

</html>