<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit User Information</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <main>
        <div class="topbar">
            <a href="{{ url_for('home') }}"> <img src="{{ url_for('static', filename='Assets/Logo.png') }}"></a>
            <a href="{{ url_for('home') }}"><p style="margin: 0px; text-align: justify;">Recommender</p></a>
            <a href="{{ url_for('edituser') }}"> <img src="{{ url_for('static', filename='Assets/accounticon.png') }}"></a>\
            <a href="{{ url_for('logout') }}"> <img src="{{ url_for('static', filename='Assets/logoutIcon.png') }}"></a>
        </div>
        <div class="cont">
            <h1>Need to Change Your Information?</h1>
                <div class="formcont">
                    <div class="formbox">
                        <form action="/update_user" method="PPOST">
                            <label for="username">Username</label><br>
                            <input type="text" id="username" name="username"><br><br>
                            <label for="newpassword">New Password</label><br>
                            <input type="password" id="newpassword" name="newpassword"><br><br>
                            <label for="confpassword">Confirm Password</label><br>
                            <input type="password" id="confpassword" name="confpassword"><br><br>
                            <label for="Email">Email</label><br>
                            <input type="text" id="Email" name="Email"><br><br>
                        </form>
                    </div>
                    <div class="prefbox">
                        <div class="prefform">
                            <h2 class="pref1">Preferences:</h2>
                            <input type="checkbox" id="vegan" name="vegan" value="vegan">
                            <label for="vegan">Vegan</label><br>
                            <input type="checkbox" id="vegetarian" name="vegetarian" value="vegetarian">
                            <label for="vegetarian">Vegetarian</label><br>
                            <input type="checkbox" id="Pork" name="Pork" value="Pork">
                            <label for="Pork">Pork</label><br>
                            <input type="checkbox" id="Beef" name="Beef" value="Beef">
                            <label for="Beef">Beef</label><br>
                            <input type="checkbox" id="Chicken" name="Chicken" value="Chicken">
                            <label for="Chicken">Chicken</label><br>
                            <div class="prefform2">
                                <input type="checkbox" id="Seafood" name="Seafood" value="Seafood">
                                <label for="Seafood">Seafood</label><br>
                                <input type="checkbox" id="Nuts" name="Nuts" value="Nuts">
                                <label for="Nuts">Nuts</label><br>
                                <input type="checkbox" id="gluten-free" name="gluten-free" value="gluten-free">
                                <label for="gluten-free">Gluten-free</label><br>
                                <input type="checkbox" id="Dairy-free" name="Dairy-free" value="Dairy-free">
                                <label for="Dairy-free">Dairy-free</label><br>
                                <input type="checkbox" id="Nut-free" name="Nut-free" value="Nut-free">
                                <label for="Nut-free">Nut-free</label><br>
                                <input type="checkbox" id="Shellfish-free" name="Shellfish-free" value="Shellfish-free">
                                <label for="Shellfish-free">Shellfish-free</label><br>
                                <input type="checkbox" id="Egg-free" name="Egg-free" value="Egg-free">
                                <label for="Egg-free">Egg-free</label><br>
                            </div>
                        </div>
                    </div>
                    <div class="buttonbox">
                        <button onclick="changeInfo()">Save</button>
                    </div>
                    
                </div>
                
        </div>
                
        <div class="botbar">

        </div>

    </main>

</body>

</html>