<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Recipe</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <main>
        <div class="topbar">
            <a href="{{ url_for('mainpage') }}"> <img src="{{ url_for('static', filename='Assets/Logo.png') }}"></a>
            <a href="{{ url_for('mainpage') }}"><p style="margin: 0px; text-align: justify;">About</p></a>
            <a href="{{ url_for('home') }}"><p style="margin: 0px; text-align: justify;">Recommender</p></a>
            <a href="{{ url_for('edituser') }}"> <img src="{{ url_for('static', filename='Assets/accounticon.png') }}"></a>\
            <a href="{{ url_for('logout') }}"> <img src="{{ url_for('static', filename='Assets/logoutIcon.png') }}"></a>
        </div>

        <div class="cont">
            <div class="recipeblock">
                <div class="ingredientsblock">
                    {% for ingredient in row['ingredients'] %}
                    <h4>{{ ingredient }}</h4>
                    {% endfor %}
                </div>
                <div class="procedureblock">
                    <h2>Procedure:</h2>
                    <ul>
                        {% for step in row['steps'].split('"') %}
                            {% set formatted_step = step|replace(',', '') %}
                            {% if formatted_step.strip() %}
                                <h4><li>{{ formatted_step }}</li></h4>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>

        
        </div>


    </main>

</body>

</html>